<div class="res-main">
  <h1 class="h1">Research Interests <br /></h1>
  <img src="../../assets/images/line.png" />
  <article>
    <h2>
      Redox regulation of metabolism, stress acclimation, and cell death in
      photosynthetic organisms.
    </h2>
    <p>
      As sessile organisms that grow under highly variable environmental
      conditions, plants must constantly sense, respond, and adapt to
      fluctuation in their environment. Many aspects of adaptation to
      environmental conditions are believed to be regulated by ROS/redox signals
      which differ in temporal, spatial and intensity patterns in photosynthetic
      cells. Oxidation and reduction of thiol proteins, in which their
      biochemical characteristics changed upon oxidation, is thought to be the
      major mechanism by which redox signals are integrated into cellular signal
      transduction pathways.
    </p>
    <br />
    <p>
      My group is interested in understanding how signals linked to
      environmental conditions are translated into alteration in the cellular
      redox state, sensed by redox sensors, and transmitted into biological
      pathways to maintain homeostasis by coordinating cellular activities. We
      are using genetics and functional genomics tools, together with
      genetically-encoded fluorescent redox sensors and novel quantitative redox
      proteomics approach. Our primary objective is to systematically decipher
      and characterize the redox-based signal transduction pathways involved in
      sensing and acclimating to environmental conditions in plants. We believe
      that uncovering the plant redox-sensitive protein network will pave the
      way to produce plants with higher productivity and tolerance to stress.
    </p>
  </article>
</div>
