$break1: "(max-width:1020px)";
$break2: "(min-width:1021px)";
$break3: "(min-width: 701px) and (max-width: 1020px)";

$break1h: "(max-width:700px)";
$break2h: "(min-width:1021px)";
$break3h: "(min-width: 701px) and (max-width: 1020px)";
$green: rgb(241, 253, 221);
:root {
    --green: rgb(241, 253, 221);
}
