.bars{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -41rem;
    margin-right: 6rem;
    cursor: pointer;
}
.bar{
    // height: 0px;
    width: 35px;
    border: 4px black solid;
    border-radius: 10px;
    margin: 3px;
}
.bar1{    
    transition: 0.5s;
    transform: rotate(0) translate(0,0);}
.bar2{    
    transition: 0.3s;
    opacity: 1;}
.bar3{
    transition: 0.5s;
    transform: rotate(0) translate(0,0);}
.bar-active .bar1{
    transition: 0.5s;
    transform: rotate(45deg) translate(5px,10px);
}
.bar-active .bar2{
    transition: 0.3s;
    opacity: 0;
}
.bar-active .bar3{
    transition: 0.5s;
    transform: rotate(-45deg) translate(5px,-10px);
}