.con-main .to-up {
  z-index: 1;
  position: fixed;
  right: 10%;
  bottom: 10%;
  background-color: var(--green);
  padding: 10rem;
  border-radius: 25%;
  border: rgb(0, 143, 71) 2px solid;
  box-shadow: 0.5px 1px 3px black;
  transition: 0.5s;
  opacity: 0;
  &:hover {
    cursor: pointer;
  }
  h4 {
    color: green;
  }
  @media #{$break2} {
    position: fixed;
    right: 5%;
    bottom: 5%;
  }
}
