@import "../varibels.scss";
.strip {
  box-sizing: content-box;
  background-image: url("../../assets/images/baner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @media #{$break2h} {
    min-height: 400rem;
  }
  @media #{$break1h} {
    min-height: 300rem;
  }
  @media #{$break3h} {
    min-height: 350rem;
  }

  h1 {
    font-weight: 800;
    color: #99e600;
    text-shadow: 0rem 0rem 40rem #000000;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 70rem;
  }
}

.sentence {
  background-color: darken($green, 10%);
  position: relative;
  box-shadow: 2px 0 10px -4px black;
  @media #{$break2} {
    padding: 30rem;
  }
  @media #{$break1} {
    padding: 20rem;
  }
  h2 {
    color: rgb(59, 59, 59);
    text-shadow: 0.5rem 0.5rem 1rem black;
    display: grid;
    text-align: center;
    justify-items: center;
    justify-content: center;
    font-size: 29rem;
  }
}

.home-main {
  text-align: center;

  video {
    @media #{$break2h} {
      width: 75%;
      height: 510rem;
    }
    @media #{$break1h} {
      width: 45%;
      height: 250rem;
    }
    @media #{$break3h} {
      width: 50%;
      height: 335rem;
    }
  }

  .img {
    margin: 16rem;
  }

  &-rows {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  }
}
